<span class="label label-primary full-width">Todo's</span>
<task task="todo" ng-repeat="todo in todos" on-remove="deleteSubTask(todo)">
</task>
<form ng-submit="addTodo('', todoText)">
  <input type="text" class="form-control" ng-model="todoText" size="30" placeholder="add new todo here">
</form>
<br>
<span class="label label-primary full-width">Days</span>
<div ng-repeat="day in taskDays">
	<span class="label label-default full-width" style="width: 100%">{{day.date | date:'EEEE d-M'}}</span>
	
	<task task="t" ng-repeat="t in day.tasks" on-remove="deleteSubTask(t)">
	</task>
	<form ng-submit="addTodo(day.dateString, todoTextDay)" ng-if="showAddTask(day.dateString)">
	  <input type="text" class="form-control" ng-model="todoTextDay" size="30" placeholder="add new task for today here">
	  <br>
	</form>
</div>




<!-- 
<BR><BR>
<iframe ng-src="{{url}}" sandbox="allow-same-origin allow-scripts"></iframe>
 -->